In [13]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler

In [6]:
data = pd.read_csv("Medical_insurance_dataset.csv")

In [8]:
# converting str to int 
data["Gender"] = (data["Gender"] == "Male").astype(int)
data ["Purchased"] = (data["Purchased"] == "purchased").astype(int)

c:\Users\HP.COM\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [9]:
cols = ['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       0   19            76000          0

In [26]:
from turtle import color

from networkx import density


# for label in cols[1:-1]:
#     plt.hist(data[data["Purchased"]==1] [label], color='blue', label='gamma', alpha=0.7, density=True)
#     plt.hist(data[data["Purchased"]==0] [label], color='red', label='hadron', alpha=0.7, density=True)
#     plt.title(label)
#     plt.ylabel("probability")
#     plt.xlabel(label)
#     plt.legend()
#     plt.show()

In [10]:
import fractions
from random import sample
train, value, test = np.split(data.sample(frac=1), [int(0.6*len(data)), int(0.8*len(data))])

In [17]:
from matplotlib import Scalar

ImportError: cannot import name 'Scalar' from 'matplotlib' (c:\Users\HP.COM\Anaconda3\lib\site-packages\matplotlib\__init__.py)

In [ ]:
from matplotlib import Scalar
from sklearn.preprocessing import scale


def scale_dataset(dataframe):
    X = dataframe[dataframe.columns[:-1]].value
    y = dataframe[dataframe.columns[-1]].value

    scaler = StandardScaler()
    X = scaler.fit_transform(X)

    df = np.hstack((X, np.reshape(y, (-1, 1))))
    
    return df, X, y