In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot
import seaborn as sns

In [4]:
data = pd.read_csv("Medical_insurance_dataset.csv")
data

      User ID  Gender  Age  EstimatedSalary      Purchased
0    15624510    Male   19            19000  not-purchased
1    15810944    Male   35            20000  not-purchased
2    15668575  Female   26            43000  not-purchased
3    15603246  Female   27            57000  not-purchased
4    15804002    Male   19            76000  not-purchased
..        ...     ...  ...              ...            ...
395  15691863  Female   46            41000      purchased
396  15706071    Male   51            23000      purchased
397  15654296  Female   50            20000      purchased
398  15755018    Male   36            33000  not-purchased
399  15594041  Female   49            36000      purchased

[400 rows x 5 columns]

In [5]:
import sklearn

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression

In [ ]:
# buildind the model 
from sklearn.model_selection import train_test_split

In [ ]:
# preprocessing lib 
from json import encoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [7]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [9]:
X = data[['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']] #Initaniate the hot encoder
encoded = encoder.fit_transform
y = data['class']

KeyError: 'class'